.linkDivUnread {
  a:link,
  a:visited {
    color: #265c83;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.linkDivRead {
  a:link,
  a:visited {
    color: #777;
    text-decoration: line-through;
  }
  a:hover {
    text-decoration: underline;
  }
}

.preventCellClick {
  position: relative;
}

.preventCellClickWrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
