{
  "presets": ["react", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
         "root": ["./src"],
         "extensions": [".js"],
         "alias": {
           "src": "./src"
         }
        }],
        "transform-react-jsx-source",
        "react-hot-loader/babel",
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
         "root": ["./src"],
         "extensions": [".js"],
         "alias": {
           "src": "./src"
         }
        }]
      ]
    }
  }
}
