{
  "extends": "hardcore-react",
  "plugins": [
    "fp"
  ],
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": [0, "unix"],
    "fp/no-delete": 2,
    "fp/no-let": 2,
    "fp/no-mutating-assign": 2,
    "fp/no-mutation": ["error", {"allowThis": true, "exceptions": [{"property": "propTypes"}]}]
  },
  "globals": {
    "afterEach": true,
    "beforeEach": true,
    "describe": true,
    "ga": true,
    "it": true,
    "path": true
  }
}
